header{
	background: #f4fffb;
	padding-left: 10px;
	a{
		color: #000;
		.v-list__tile{
		.v-list__tile__action{
			i{
				color: teal;
			}
		}
		}
		.v-list__group{
			.v-list__group__header{
				.v-list__group__header__prepend-icon{
					i{
						color: teal;
					}
				}
			}
		}
		&:hover{
			color: red;
			text-decoration: none;
			.v-list__tile{
				.v-list__tile__action{
					i{
						color: red;
					}
				}
			}
			.v-list__group{
				.v-list__group__header{
					.v-list__group__header__prepend-icon{
						i{
							color: red;
						}
					}
				}
			}
		}
	}
	.router-link-active{
		color: red;
	}
}