@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');
@mixin font($size, $style, $color){
		font-family: 'Playfair Display', serif !important;
		font-size: $size !important;
		font-style: $style !important;
		color: $color;
} 
body{
	background: #fff !important;	
}
#diary{
	.title{
		@include font(50px,italic, red); 
		padding: 16px;
	}
}
#goal{
	.title{
		@include font(50px,italic, red); 
		padding: 16px;
	}
}