#dialy {
  .perday {
    background-image: url('../../../images/nen-dialy.jpg');
  }
}
.content-dialy {
  clear: both;
  background-image: url('../../../images/nen-dialy3.jpg');
  .title {
    color: #dc3d24;
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    input {
      background-image: url('../../../images/nen-dialy3.jpg');
      border: 1px solid #aa6db0;
      padding: 0px 8px;
      font-size: 18px;
      width: 80%;
      color: #ff2502;
      &:focus {
        box-shadow: 0.5px 0.5px 5px #aa6db0;
        outline: none;
      }
    }
    .date-content-dialy {
      float: right;
    }
  }
  button.shiny-btn {
    display: inline-block;
    margin: 16px 0 16px 30px;
  }
}
